.page{
    position: relative;
    z-index: 5;
    background-color: #fff;
 
     .hero{
         height:90vh;   
         .text{
             p{
                 font-size: 100px;
                 font-family: 'Montserrat', sans-serif; 
             }
             h6{
                 color: #939393;
                 font-size:12px;
                 letter-spacing:3px;
             }
         }
     }
     
     .menu{
         ul{
             li{
                
                 a{
                     color:#6f6f6f;
                     text-decoration: none;
                     font-size: 12px;
                     font-family: 'Montserrat', sans-serif;
                     font-weight: 600;
                     &:hover{
                         color: #232323;
                     
                        border-bottom:1px solid #232323;
                         
                     }
                    
                 }
             }
         }
     }
 }
 